{% extends 'base.html' %}

{% block content %}
<div class="my-5">
	<h1>Book Detail View (Class Based View)</h1>
</div>

<table class="table table-dark table-striped text-white">
	<thead>
		<td>Title</td>
		<td>Author</td>
		<td>Published</td>
		<td># of Copies</td>
	</thead>
	<tbody>
		<tr>
			<td>{{book.title}}</td>
			<td>{{book.author}}</td>
			<td>{{book.published_date}}</td>
			<td>{{book.number_of_copies}}</td>
		</tr>	
	</tbody>
</table>

<a class='btn btn-info me-3' href="{% url 'firstapp:BookUpdateView' pk=book.pk %}">Update Class Based View</a>
<a class='btn btn-danger' href="{% url 'firstapp:BookDeleteView' pk=book.pk %}">Delete Class Based View</a>
<hr>
<a href="{% url 'firstapp:BookListView' %}">Book List View (Class Based View)</a>

{% endblock %}