{% extends 'base.html' %}

{% block content %}
<h1>Post List</h1>

<hr>
<a class='btn btn-primary' href="{% url 'posts:post_create' %}">Add a Post</a>
<hr>

{% if query %}
	<h3>Here are the results of your search for: <span class='text-success'>{{query}}</span></h3>
{% endif %}

{% for post in post_list %}
	<div class="card mt-5">
		<div class="card-header">
			<p><a href="{% url 'posts:post_detail' slug=post.slug %}"> {{post.id}}. {{post.title}}</a></p>
			<p>Author {{post.user}}</p>
		</div>
		<div class="card-body">
			<p>{{post.message}}</p>
			<p>Post Created: {{post.created}}</p>
			<p>Last Updated: {{post.updated}}</p>
		</div>
	</div>
{% endfor %}

{% endblock %}