{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>

		<script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		

        <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
        
        <!-- Nav Bar -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="{% url 'index' %}">SpotSkillz Blog</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="{% url 'posts:post_list' %}">Posts</a>
		        </li>
		        {% if user.is_authenticated %}
		        <li class="nav-item">
		          <a class="nav-link" href="{% url 'posts:post_create' %}">Create a Post</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="{% url 'profiles:profile_detail' user.profile.slug %}">My Profile</a>
		        </li>
		        
		        <li class="nav-item">
		          <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
		        </li>

		        {% else %}
		        

		        <li class="nav-item">
		          <a class="nav-link" href="{% url 'user_login' %}">Login</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="{% url 'signup' %}">Signup</a>
		        </li>
		        {% endif %}
		        <form class="d-flex" action="{% url 'posts:post_search' %}">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='query'>
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>




		      </ul>
		    </div>
		  </div>
		</nav>
        <div class="container mt-5">
    	{% block content %}
    	{% endblock %}
    	</div>

    	{% block js %}
    	{% endblock %}
    </body>
</html>