/* .card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
} */


.card {
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}