<div class="card bg-dark text-white p-4 m-4">
	<div class="row">
		<div class="col-9">
			<p>Written By: {{comment.user}}</p>
			<p>{{comment.post.title}}</p>
			<p>{{comment.message}}</p>
			<p>Updated {{comment.updated}}</p>
			
		</div>
		<div class="col-3">
			<div class="approval_status slug-{{comment.slug}}"></div>
		</div>
	</div>


	{% if comment.user == user %}
	<div class="row">
		<div class="col-3">
			<a class='btn btn-info me-4' href="{% url 'comments:comment_update' comment.slug %}">Update</a>
		</div>
		<div class="col-3">
			<a class='btn btn-danger' href="{% url 'comments:comment_delete' comment.slug %}">Delete</a>
		</div>
	</div>
	{% endif %}
</div>