.loginForm{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 5fr;
    margin: 1rem 0;
}

.labelField {
    text-align: left;
    font-weight: bold;
    align-self: center;
}

.inputField{
    padding: 0.4rem;
    border-radius: 10px;
}

.inputField:focus{
    background: lightcyan;
    outline: none;
}

.inputField.invalid {
    border-color: red;
    background: #fbdada;
  }