img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.buttons {
    text-align: center;
}

.clearAllButton {
    width: 90%;
    padding: 1rem 0rem;
    font-size: 1.5rem;
    font-weight: bold;
}