{% extends 'base.html' %}

{% block content %}
<h1>Posts</h1>

<a class='btn btn-info my-3' href="{% url 'posts:post_create' %}">Create a Post</a>

{% if post_list %}
	{% for post in post_list %}

	<div class="card">
		<div class="card-header">
			<p><a href="{% url 'posts:post_detail' post.slug %}">{{post.title}} posted by {{post.user}}</a></p>
			<p>Created: {{post.created}} Last Updated: {{post.updated}}</p>
		</div>
		<div class="card-body">
			<p>{{post.message}}</p>
			<p>Comments {{post.napproved_comments}}</p>
		</div>
	</div>
	{% endfor %}
{% else %}
	<h3>Your Search returned 0 results, try again</h3>
{% endif %}


{% endblock %}