{% extends 'base.html' %}

{% block content %}
<h1>Post Detail</h1>

<div class="card">
	<div class="card-header">
		<p>{{post.id}}. {{post.title}}</p>
		<p>{{post.user}}</p>
	</div>
	<div class="card-body">
		<p>{{post.message}}</p>
		<p>Post Created: {{post.created}}</p>
		<p>Last Updated: {{post.updated}}</p>
	</div>
</div>

<p>Post Author {{post.user}}</p>

<p>User Logged In {{user}}</p>

{% if post.user == user %}
	<a class='btn btn-info mt-4' href="{% url 'posts:post_update' slug=post.slug %}">Update</a>

	<a class='btn btn-danger mt-4 ms-4' href="{% url 'posts:post_delete' slug=post.slug %}">Delete</a>
{% endif %}
<hr>
<a href="{% url 'comments:comment_create' slug=post.slug %}">Add a Comment</a>
{% endblock %}




























