{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Detail</h1>

<div class="card">
	<div class="card-header">
		<p>Posted By {{post.user}}</p>
		<p>Message: {{post.title}}</p>
	</div>
	<div class="card-body">
		<p>{{post.message}}</p>
		<p>Last Updated {{post.updated}}</p>
		{% if post.user == user %}
			<div class="my-3">
				<a class='btn btn-info' href="{% url 'posts:post_update' post.slug %}">Update</a>

				<a class='btn btn-danger' href="{% url 'posts:post_delete' post.slug %}">Delete</a>
			</div>
		{% endif %}
	</div>
</div>



<hr>

<a href="{% url 'comments:comment_create' post.slug %}">Add A Comment</a>



{% for comment in approved_comments %}

	{% include 'posts/snippets/comment_snippets.html' with post=post comment=comment %}

{% endfor %}

{{ request.user.id|json_script:"user_id" }}
{{ post.user.id|json_script:"post_user_id"}}
{% endblock %}


{% block js %}
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}



