{% extends 'base.html' %}
{% load static %}

{% block content %}


	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{% static 'img/bg.jpg' %}">
		<div class="container">
			<div class="hero-text text-white">
				<h2>Get The Best Free Online Courses</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla <br> dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter">
						<input type="text" placeholder="Name">
						<input type="text" class="last-s" placeholder="E-mail">
						<button class="site-btn">Sign Up Now</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Our Course Categories</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/1.jpg' %}"></div>
						<div class="ci-text">
							<h5>IT Development</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>120 Courses</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/2.jpg' %}"></div>
						<div class="ci-text">
							<h5>Web Design</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>70 Courses</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/3.jpg' %}"></div>
						<div class="ci-text">
							<h5>Illustration & Drawing</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>55 Courses</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/4.jpg' %}"></div>
						<div class="ci-text">
							<h5>Social Media</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>40 Courses</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<h5>Photoshop</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>220 Courses</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/6.jpg' %}"></div>
						<div class="ci-text">
							<h5>Cryptocurrencies</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>25 Courses</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- categories section end -->


	<!-- search section -->
	<section class="search-section">
		<div class="container">
			<div class="search-warp">
				<div class="section-title text-white">
					<h2>Search your course</h2>
				</div>
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<!-- search form -->
						<form class="course-search-form text-center" action="{% url 'courses:course_search' %}">
							<input class='w-100 mb-3' type="text" placeholder="Course" name='course'>
							
							<button class="site-btn">Search Couse</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- search section end -->


	<!-- course section -->
	<section class="course-section spad">
		<div class="container">
			<div class="section-title mb-0">
				<h2>Featured Courses</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
		</div>
		<div class="course-warp">
			<ul class="course-filter controls">
				<li class="control active" data-filter="all">All</li>
				<li class="control" data-filter=".itd">IT Development</li>
				<li class="control" data-filter=".wd">Web Design</li>
				<li class="control" data-filter=".iandd">Illustration</li>
				<li class="control" data-filter=".sm">Social Media</li>
				<li class="control" data-filter=".ps">PhotoShop</li>
				<li class="control" data-filter=".crypto">Crypto Currencies</li>
			</ul>                                       
			<div class="row course-items-area">
				<!-- course -->
<!-- 
					('itd', 'IT Development'),
	('wd', 'Web Design'),
	('iandd', 'Illustration and Drawing'),
	('sm', 'Social Media'),
	('ps', 'PhotoShop'),
	('crypto', 'CryptoCurrencies'),
	) -->
				{% for course in course_list %}
					<div class="mix col-lg-3 col-md-4 col-sm-6 {{course.category}}">
						<div class="course-item">
							<a href="{% url 'courses:course_detail' course.slug %}">
								<div class="course-thumb set-bg" data-setbg="
								{% if course.image %}
									{{course.image.url}}
								{% else %}
									{% static 'img/courses/1.jpg' %}
								{% endif %}
								">
									<div class="price">Price ${{course.price}}</div>
								</div>
								<div class="course-info">
									<div class="course-text">
										<h5>{{course.name}}</h5>
										<p>{{course.short_description}}</p>
										<div class="students">

										{% if course.number_of_students %}
											{{course.number_of_students}} Students</div>
										{% endif %}
									</div>
									<div class="course-author">
										<div class="ca-pic set-bg" data-setbg="
										{% if course.user.profile.image %}
											{{course.user.profile.image.url}}
										{% else %}
											{% static 'img/authors/1.jpg' %}
										{% endif %}

	
										"></div>
										<p>{{course.user.first_name}} {{course.user.last_name}} <span> {{course.get_category_name}}</span></p>
									</div>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}


				<!-- course -->
			<!-- 	<div class="mix col-lg-3 col-md-4 col-sm-6 web">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="{% static 'img/courses/7.jpg' %}">
							<div class="price">Price: $15</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>IT Development</h5>
								<p>Lorem ipsum dolor sit amet, consectetur</p>
								<div class="students">120 Students</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{% static 'img/authors/7.jpg' %}"></div>
								<p>William Parker, <span>Developer</span></p>
							</div>
						</div>
					</div>
				</div> -->
				<!-- course -->
				<!-- <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="{% static 'img/courses/8.jpg' %}">
							<div class="price">Price: $15</div>
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>HTML 5</h5>
								<p>Lorem ipsum dolor sit amet, consectetur</p>
								<div class="students">120 Students</div>
							</div>
							<div class="course-author">
								<div class="ca-pic set-bg" data-setbg="{% static 'img/authors/8.jpg' %}"></div>
								<p>William Parker, <span>Developer</span></p>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</section>
	<!-- course section end -->


	<!-- signup section -->
	{% if not user.is_teacher %}
	<section class="signup-section spad">
		<div class="signup-bg set-bg" data-setbg="{% static 'img/signup-bg.jpg' %}"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							<h2>Sign up to became a teacher</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
						</div>
						<!-- signup form -->
						<form class="signup-form text-center">
							
							
							<a href="{% url 'become_teacher' %}" class="site-btn text-white">Become a Teacher</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	<!-- signup section end -->


{% endblock %}











