{% extends 'base.html' %}
{% load static %}





{% block content %}
  <!-- Main Content -->
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in post_list %}
        <div class="post-preview">
          <a href="{% url 'posts:post_detail' slug=post.slug %}">
            <h2 class="post-title">
              <p>{{post.title}}</p>
            </h2>
            <h3 class="post-subtitle">
              <p>{{post.message}}</p>
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019</p>
        </div>
        <hr>
        {% endfor %}
        

        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}