.quoteItem {
    display: flex;
    justify-content: space-between;
}

.quoteText h1{
    margin: 1rem 0;
}

.button {
    background: cadetblue;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    align-self: center;

}
