<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>

        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <span class='text-light'>Navbar</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'firstapp:book_list_view' %}">Function Based List View</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'firstapp:BookListView' %}">Class Based List View</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'firstapp:book_create_view' %}">Function Based Create View</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'firstapp:BookCreateView' %}">Class Based Create View</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'single_page_app' %}">Single Page App</a>
                </li>
             
              </ul>
            </div>
          </div>
        </nav>
        
        <div class="container">
        	{% block content %}
        	{% endblock %}
        </div>

        {% block end_scripts %}
        {% endblock %}
    </body>
</html>















