{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <!-- Page info -->
  <div class="page-info-section set-bg" data-setbg="{% static 'img/page-bg/3.jpg' %}">
    <div class="container">
      <div class="site-breadcrumb">
        <a href="#">Home</a>
        <span>Blog</span>
      </div>
    </div>
  </div>
  <!-- Page info end -->


  <!-- search section -->
  <section class="search-section ss-other-page">
    <div class="container">
      <div class="search-warp">
        <div class="section-title text-white">
          <h2><span>Search your course</span></h2>
        </div>
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <!-- search form -->
            <form class="course-search-form">
              <input type="text" placeholder="Course">
              <input type="text" class="last-m" placeholder="Category">
              <button class="site-btn btn-dark">Search Couse</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- search section end -->

<div class="container my-5">
  <h1>{% trans "Sign In" %}</h1>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>
{% endblock %}
